.productList {
  list-style: none;
  padding: 0;
}

.productList__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
  background:white;
  

  &:last-child {
    border-bottom: none;
  }
}

.productList__image {
  width: 160px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.productList__info {
  flex: 1;
  padding: 20px 30px;
}

.productList__imageLink,
.productList__infoLink {
  text-decoration: none; 
  color: inherit;
}

.productList__imageLink:focus,
.productList__infoLink:focus {
  outline: none;
  box-shadow: none;
}

.productList__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.productList__priceContainer {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-bottom: 5px;
}

.productList__regularPrice {
  text-decoration: line-through;
  color: #888;
  font-size: 12px;
  margin-bottom: 2px;
}

.productList__discountRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productList__discountPrice {
  color: #333;
  font-size: 22px;
  font-weight: bold;
}

.productList__discount {
  color: #008000;
  font-size: 16px;
  font-weight: bold;
}

.productList__installments {
  font-size: 12px;
  color: #008000;
  margin-bottom: 20px;
}

.productList__shipping {
  font-size: 14px;
  color: #008000;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

.productList__condition {
  font-size: 14px;
  color: #666;
}
